# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [208]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
schools_raw = "Resources/schools_complete.csv"
student_raw = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(schools_raw)
student_data = pd.read_csv(student_raw)

# Combine the data into a single dataset.  
all_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
all_data["grade"] = all_data["grade"].replace(['9th','10th','11th','12th'],[9,10,11,12])
all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [209]:
# Calculate the total number of unique schools
school_count = len(school_data["school_name"].unique())
school_count

15

In [210]:
# Calculate the total number of students
student_count = school_data["size"].sum()
student_count

39170

In [211]:
# Calculate the total budget
total_budget = sum(school_data["budget"])
total_budget

24649428

In [212]:
# Calculate the average (mean) math score
dist_math_avg = all_data["math_score"].mean()
dist_math_avg

78.98537145774827

In [213]:
# Calculate the average (mean) reading score
dist_read_avg = all_data["reading_score"].mean()
dist_read_avg

81.87784018381414

In [214]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
pass_math_count = all_data[(all_data["math_score"] >= 70)].count()["student_name"]
math_passrate = pass_math_count / float(student_count)
math_passrate

0.749808526933878

In [215]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
pass_read_count = len(all_data.loc[all_data["reading_score"] >= 70])
read_passrate = pass_read_count / float(student_count)
read_passrate

0.8580546336482001

In [216]:
# Use the following to calculate the percentage of students that passed math and reading
pass_all_count = all_data[
    (all_data["math_score"] >= 70) & (all_data["reading_score"] >= 70)
].count()["student_name"]
overall_passrate = pass_all_count /  float(student_count)
overall_passrate

0.6517232575950983

In [217]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
dist_summary = pd.DataFrame({"Total Schools": school_count,
                                "Student Population": student_count,
                                "Total Budget": total_budget,
                                "Average Math Score": dist_math_avg,
                                "Average Reading Score": dist_read_avg,
                                "Math Pass Rate": math_passrate,
                                "Reading Pass Rate": read_passrate,
                                "Overall Pass Rate": overall_passrate},
                               index = [0])

# Format and display dataframe
dist_summary.style.format({"Student Population" : "{:,}",
                           "Total Budget" : "${:,.2f}",
                           "Average Math Score" : "{:.1f}",
                           "Average Reading Score" : "{:.1f}",
                           "Math Pass Rate": "{:.1%}",
                           "Reading Pass Rate": "{:.1%}",
                           "Overall Pass Rate": "{:.1%}"})

## School Summary

In [218]:
# Use the code provided to select the school type
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [219]:
# Calculate the total student count
school_pop = student_data.groupby("school_name")["student_name"].count()

In [220]:
# Calculate the total school budget and per capita spending
school_budget = all_data.groupby(["school_name"]).mean()["budget"]
school_capita = school_budget / school_pop
# Create DataFrame for reference
school_percap = pd.Series(school_capita, name="per capita")
pd.merge(school_budget, school_percap, on="school_name")

                          budget  per capita
school_name
Bailey High School     3124928.0       628.0
Cabrera High School    1081356.0       582.0
Figueroa High School   1884411.0       639.0
Ford High School       1763916.0       644.0
Griffin High School     917500.0       625.0
Hernandez High School  3022020.0       652.0
Holden High School      248087.0       581.0
Huang High School      1910635.0       655.0
Johnson High School    3094650.0       650.0
Pena High School        585858.0       609.0
Rodriguez High School  2547363.0       637.0
Shelton High School    1056600.0       600.0
Thomas High School     1043130.0       638.0
Wilson High School     1319574.0       578.0
Wright High School     1049400.0       583.0

In [221]:
# Calculate the average test scores
per_school_math = all_data.groupby(["school_name"]).mean()["math_score"]
per_school_read = all_data.groupby(["school_name"]).mean()["reading_score"]
# Create DataFrame for reference
per_school_avg = pd.merge(per_school_math, per_school_read, on="school_name")
per_school_avg

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

In [222]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = len(per_school_math.loc[per_school_math >= 70])

# Calculate the number of schools with reading scores of 70 or higher
school_passing_read = len(per_school_read.loc[per_school_read >= 70])

# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_all = len(per_school_avg.loc[(per_school_avg["math_score"] >= 70) & (per_school_avg["reading_score"] >= 70)])

print(f"{school_passing_math} schools have an average math score of 70 or higher.")
print(f"{school_passing_read} schools have an average reading score of 70 or higher.")
print(f"{passing_all} schools have both average math and reading scores of 70 or higher.")

15 schools have an average math score of 70 or higher.
15 schools have an average reading score of 70 or higher.
15 schools have both average math and reading scores of 70 or higher.

In [223]:
# Use the provided code to calculate the passing rates
school_math_rate = all_data[all_data["math_score"] >= 70].groupby('school_name')['Student ID'].count() / school_pop
school_read_rate = all_data[all_data["reading_score"] >= 70].groupby('school_name')['Student ID'].count() / school_pop
school_all_pass = all_data[(all_data["math_score"] >= 70) & (all_data["reading_score"] >= 70)].groupby('school_name')['Student ID'].count() / school_pop

In [240]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
school_summary = pd.DataFrame({"School Type" : school_type,
                                   "Student Population" : school_pop,
                                   "Budget" : school_budget,
                                   "Budget Per Capita" : school_percap,
                                   "Average Math Score" : per_school_math,
                                   "Average Reading Score" : per_school_read,
                                   "Math Pass Rate": school_math_rate,
                                   "Reading Pass Rate": school_read_rate,
                                   "Overall Pass Rate": school_all_pass})

# Formatting
# https://towardsdatascience.com/style-pandas-dataframe-like-a-master-6b02bf6468b0
school_summary.style.format({"Student Population" : "{:,}",
                           "Budget" : "${:,.2f}",
                           "Budget Per Capita" : "${:,.2f}",
                           "Average Math Score" : "{:.1f}",
                           "Average Reading Score" : "{:.1f}",
                           "Math Pass Rate": "{:.1%}",
                           "Reading Pass Rate": "{:.1%}",
                           "Overall Pass Rate": "{:.1%}"})
                            
school_summary

,School Type,Student Population,Budget,Budget Per Capita,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Highest-Performing Schools (by % Overall Passing)

In [225]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
school_summary.sort_values(by=['Overall Pass Rate'],ascending=False).head()

,School Type,Student Population,Budget,Budget Per Capita,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

In [226]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
school_summary.sort_values(by=['Overall Pass Rate']).head()

,School Type,Student Population,Budget,Budget Per Capita,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

In [227]:
# Use the code provided to separate the data by grade
grade_9 = all_data[(all_data["grade"] == 9)]
grade_10 = all_data[(all_data["grade"] == 10)]
grade_11 = all_data[(all_data["grade"] == 11)]
grade_12 = all_data[(all_data["grade"] == 12)]

# Group by "school_name" and take the mean of each.
grade9_score = grade_9.groupby("school_name").mean()
grade10_score = grade_10.groupby("school_name").mean()
grade11_score = grade_11.groupby("school_name").mean()
grade12_score = grade_12.groupby("school_name").mean()

# Use the code to select only the `math_score`.
grade9_math = grade9_score["math_score"]
grade10_math = grade10_score["math_score"]
grade11_math = grade11_score["math_score"]
grade12_math = grade12_score["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade'
mathscores_grade = pd.DataFrame({"Grade 9 Math Average": grade9_math,
                                "Grade 10 Math Average": grade10_math,
                                "Grade 11 Math Average": grade11_math,
                                "Grade 12 Math Average": grade12_math})

# Alternate: use .sortby to create a summary chart
allmath = all_data.groupby(["school_name","grade"])["math_score"].mean()

# Display the DataFrame
#mathscores_grade
mathscores_grade

,Grade 9 Math Average,Grade 10 Math Average,Grade 11 Math Average,Grade 12 Math Average
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [228]:
# Use the code provided to separate the data by grade
grade_9 = all_data[(all_data["grade"] == 9)]
grade_10 = all_data[(all_data["grade"] == 10)]
grade_11 = all_data[(all_data["grade"] == 11)]
grade_12 = all_data[(all_data["grade"] == 12)]

# Group by "school_name" and take the mean of each.
grade9_score = grade_9.groupby("school_name").mean()
grade10_score = grade_10.groupby("school_name").mean()
grade11_score = grade_11.groupby("school_name").mean()
grade12_score = grade_12.groupby("school_name").mean()

# Use the code to select only the `reading_score`.
grade9_read = grade9_score["reading_score"]
grade10_read = grade10_score["reading_score"]
grade11_read = grade11_score["reading_score"]
grade12_read = grade12_score["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
readscores_grade = pd.DataFrame({"Grade 9 Reading Average": grade9_read,
                                "Grade 10 Reading Average": grade10_read,
                                "Grade 11 Reading Average": grade11_read,
                                "Grade 12 Reading Average": grade12_read})

# Display the DataFrame
readscores_grade

,Grade 9 Reading Average,Grade 10 Reading Average,Grade 11 Reading Average,Grade 12 Reading Average
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

In [229]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spnd_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [230]:
# Create a copy of the school summary since it has the Budget Per Capita ("Per Student Budget") 
schoolexpen_df = school_summary.copy()
schoolexpen_df

,School Type,Student Population,Budget,Budget Per Capita,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [231]:
# Use `pd.cut` to categorize spending based on the bins.
schoolexpen_df["Spending Ranges (Per Student)"] = pd.cut(schoolexpen_df["Budget Per Capita"],
                                                        spending_bins, labels=spnd_labels,
                                                        include_lowest=True)
schoolexpen_df = schoolexpen_df[["School Type","Student Population","Budget","Budget Per Capita",
                                "Spending Ranges (Per Student)", "Average Math Score",
                                "Average Reading Score", "Math Pass Rate",
                                "Reading Pass Rate","Overall Pass Rate"]]
schoolexpen_df

,School Type,Student Population,Budget,Budget Per Capita,Spending Ranges (Per Student),Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Bailey High School,District,4976,3124928.0,628.0,$585-630,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356.0,582.0,<$585,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411.0,639.0,$630-645,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916.0,644.0,$630-645,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500.0,625.0,$585-630,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020.0,652.0,$645-680,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087.0,581.0,<$585,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635.0,655.0,$645-680,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650.0,650.0,$645-680,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858.0,609.0,$585-630,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363.0,637.0,$630-645,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600.0,600.0,$585-630,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130.0,638.0,$630-645,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574.0,578.0,<$585,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400.0,583.0,<$585,83.682222,83.955000,0.933333,0.966111,0.903333

In [232]:
#  Calculate averages for the desired columns. 
math_expen = schoolexpen_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
read_expen = schoolexpen_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
mathpass_expen = schoolexpen_df.groupby(["Spending Ranges (Per Student)"]).mean()["Math Pass Rate"]
readpass_expen = schoolexpen_df.groupby(["Spending Ranges (Per Student)"]).mean()["Reading Pass Rate"]
allpass_expen = schoolexpen_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Pass Rate"]

In [233]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score":math_expen,
                                "Average Reading Score":read_expen,
                                "Math Pass Rate":mathpass_expen,
                                "Reading Pass Rate":readpass_expen,
                                "Overall Pass Rate":allpass_expen})
# Display results
spending_summary.style.format({"Average Math Score" : "{:.1f}",
                               "Average Reading Score" : "{:.1f}",
                               "Math Pass Rate": "{:.1%}",
                               "Reading Pass Rate": "{:.1%}",
                               "Overall Pass Rate": "{:.1%}"})

## Scores by School Size

In [234]:
# Establish the bins.
pop_bins = [0, 1000, 2000, 5000]
pop_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [235]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

school_summary["School Size"] = pd.cut(schoolexpen_df["Student Population"],
                                                        pop_bins, labels=pop_labels,
                                                        include_lowest=True)
schoolsize = school_summary[["School Type","Student Population","School Size",
                                "Average Math Score","Average Reading Score", 
                                "Math Pass Rate","Reading Pass Rate","Overall Pass Rate"]]
schoolsize

,School Type,Student Population,School Size,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Bailey High School,District,4976,Large (2000-5000),77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,Medium (1000-2000),83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,Large (2000-5000),76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,Large (2000-5000),77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,Medium (1000-2000),83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,Large (2000-5000),77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,Small (<1000),83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,Large (2000-5000),76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,Large (2000-5000),77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,Small (<1000),83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,Large (2000-5000),76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,Medium (1000-2000),83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,Medium (1000-2000),83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,Large (2000-5000),83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,Medium (1000-2000),83.682222,83.955000,0.933333,0.966111,0.903333

In [236]:
# Calculate averages for the desired columns. 
math_size = school_summary.groupby(["School Size"]).mean()["Average Math Score"]
read_size = school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
mathpass_size = school_summary.groupby(["School Size"]).mean()["Math Pass Rate"]
readpass_size = school_summary.groupby(["School Size"]).mean()["Reading Pass Rate"]
allpass_size = school_summary.groupby(["School Size"]).mean()["Overall Pass Rate"]

In [237]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score":math_size,
                                "Average Reading Score":read_size,
                                "Math Pass Rate":mathpass_size,
                                "Reading Pass Rate":readpass_size,
                                "Overall Pass Rate":allpass_size})

# Display results
size_summary.style.format({"Average Math Score" : "{:.1f}",
                               "Average Reading Score" : "{:.1f}",
                               "Math Pass Rate": "{:.1%}",
                               "Reading Pass Rate": "{:.1%}",
                               "Overall Pass Rate": "{:.1%}"})

## Scores by School Type

In [238]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
math_type = school_summary.groupby(["School Type"]).mean()["Average Math Score"]
read_type = school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
mathpass_type = school_summary.groupby(["School Type"]).mean()["Math Pass Rate"]
readpass_type = school_summary.groupby(["School Type"]).mean()["Reading Pass Rate"]
allpass_type = school_summary.groupby(["School Type"]).mean()["Overall Pass Rate"]

In [239]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score":math_type,
                                "Average Reading Score":read_type,
                                "Math Pass Rate":mathpass_type,
                                "Reading Pass Rate":readpass_type,
                                "Overall Pass Rate":allpass_type})

# Display results
type_summary

,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.904322
District,76.956733,80.966636,0.665485,0.807991,0.536722